@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400&display=swap');
body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(47, 47, 66);
}
