.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.connect-button {
    outline: none;
    height: 30px;
    width: 355px;
    border: none;
    cursor: pointer;
}

.username-input {
    width: 350px;
    height: 30px;
    outline: none;
}

.Envoye {
    background-color: rgb(96, 109, 126);
    color: wheat;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: solid rgb(173, 168, 168);
    cursor: pointer;
    font-weight: bold;
}

.Envoye:hover {
    color: white;
    cursor: pointer;
}

.textarea-message {
    height: 75px;
    width: 96%;
    align-items: center;
    border-radius: 10px;
    border: solid rgb(173, 168, 168);
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}
.msg-text{
 border-radius: 5px;
 border: solid gray;
}