.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.connect-button {
    outline: none;
    height: 30px;
    width: 355px;
    border: none;
    cursor: pointer;
}

.username-input {
    width: 350px;
    height: 30px;
    outline: none;
}
.Envoye{
    background-color: rgb(96, 109, 126);
    color: wheat;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: solid rgb(173, 168, 168);
    cursor: pointer;
    font-weight: bold;
}
.Envoye:hover{
    color: white;
    cursor:pointer;
}
.textarea-message{
    height:75px ;
    border-radius: 10px;
    border: solid rgb(173, 168, 168);
}