.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.connect-button {
    outline: none;
    height: 30px;
    width: 355px;
    border: none;
    cursor: pointer;
}

.username-input {
    width: 350px;
    height: 30px;
    outline: none;
}